target/test-classes/fr/discord/goodteam/ArmeTest.class
target/test-classes/fr/discord/goodteam/GameTest.class
target/test-classes/fr/discord/goodteam/GuerrierTest.class
target/test-classes/fr/discord/goodteam/MageTest.class
target/test-classes/fr/discord/goodteam/PersonnageTest.class

